//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #115E38;
$success: #317E58;
$ajwa: #A5BB7A;
